<script type="text/javascript">//<![CDATA[
function natcap_server_change() {
	var obj = document.getElementById('current_server');
	if (obj) {
		obj.innerHTML = "...";
	}

	(new XHR()).post('<%=luci.dispatcher.build_url("admin/services/natcap/change_server")%>', null,
		function(x) {
			var data = eval("(" + x.responseText + ")");
			if (data && data.cur_server) {
				obj.innerHTML = data.cur_server;
			}
		}
	);
}

XHR.poll(5, '<%=luci.dispatcher.build_url("admin/services/natcap/status")%>', null,
	function(x, data) {
		var obj;
		if (data) {
			if (obj = document.getElementById('current_server'))
				obj.innerHTML = data.cur_server;
			if (obj = document.getElementById('natcap_uid'))
				obj.innerHTML = data.uid;
			if (obj = document.getElementById('natcap_recv'))
				obj.innerHTML = data.total_rx;
			if (obj = document.getElementById('natcap_send'))
				obj.innerHTML = data.total_tx;
		}
	}
);
//]]>
</script>

<fieldset class="cbi-section">
	<legend><%:Status%></legend>
	<table width="100%" cellspacing="10">
		<tr><td width="33%"><strong><%:Current Server%></strong></td><td><span id="current_server">-</span>&nbsp;&nbsp;<input type="button" class="cbi-button cbi-button-reload" style="width:80px" onclick="natcap_server_change()" title="<%:Change Server%>" value="<%:Change%>" /></td></tr>
		<tr><td width="33%"><strong><%:User ID%></strong></td><td id="natcap_uid">-</td></tr>
		<tr><td width="33%"><strong><%:Total Recv%></strong></td><td id="natcap_recv">-</td></tr>
		<tr><td width="33%"><strong><%:Total Send%></strong></td><td id="natcap_send">-</td></tr>
	</table>
</fieldset>
