config defaults
	option host_white_list 'wifi.weixin.qq.com'

config rule
	option disabled '1'
	option src_zone 'lan'
	option ip_range '192.168.15.2-192.168.15.254'
	option max_online_time '2073600'
	option no_flow_offline_timeout '3600'
	option server_ip '10.1.0.8'
	option ip_white_list ''
	option mac_white_list ''
	option wechat_disabled '0'
	option wechat_shopName 'YuQuanYuanYiLuKou'
	option wechat_ssid 'WXGUILIN'
	option wechat_shopId '7699460'
	option wechat_appId 'wx3ae592d54767e201'
	option wechat_secretKey '8e3fe9a95bdf2fd55492bc1040109a8c'
