<%#
	Argon is a clean HTML5 theme for LuCI. It is based on luci-theme-material Argon Template

	luci-theme-argon
	Copyright 2020 Jerrykuku <jerrykuku@qq.com>

	Have a bug? Please create an issue here on GitHub!
	https://github.com/jerrykuku/luci-theme-argon/issues

	luci-theme-material:
	Copyright 2015 Lutty Yang <lutty@wcan.in>

	Argon Theme
	https://demos.creative-tim.com/argon-dashboard/index.html

	Licensed to the public under the Apache License 2.0
-%>

<%
	local sys = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"
	local ver = require "luci.version"

	local boardinfo = util.ubus("system", "board")

	local node = disp.context.dispatched

	local fs = require "nixio.fs"
	local nutil = require "nixio.util"
	local uci = require 'luci.model.uci'.cursor()

	-- send as HTML5
	http.prepare_content("text/html")

	math.randomseed(os.time())

	-- Custom settings
	local mode = 'normal'
	local dark_css = fs.readfile('/www/luci-static/argon/css/dark.css')
	local bar_color = '#5e72e4'
	local primary, dark_primary, blur_radius, blur_radius_dark, blur_opacity
	if fs.access('/etc/config/argon') then
		primary = uci:get_first('argon', 'global', 'primary')
		dark_primary = uci:get_first('argon', 'global', 'dark_primary')
		blur_radius = uci:get_first('argon', 'global', 'blur')
		blur_radius_dark = uci:get_first('argon', 'global', 'blur_dark')
		blur_opacity = uci:get_first('argon', 'global', 'transparency')
		blur_opacity_dark = uci:get_first('argon', 'global', 'transparency_dark')
		mode = uci:get_first('argon', 'global', 'mode')
		bar_color = mode == 'dark' and dark_primary or primary
	end

	-- Brand name
	local brand_name = boardinfo.hostname or "?"
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">

<head>
	<meta charset="utf-8">
	<title>
		<%=striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %>
		- LuCI</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta name="x5-page-mode" content="app">
	<meta name="browsermode" content="application">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="msapplication-TileColor" content="<%=bar_color%>">
	<meta name="application-name" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
	<meta name="apple-mobile-web-app-title" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
	<link rel="icon" href="<%=media%>/img/argon.svg" sizes="any">
	<link rel="icon" href="<%=media%>/logo_48.png" sizes="48x48">
	<meta name="msapplication-TileColor" content="<%=bar_color%>">
	<meta name="theme-color" content="<%=bar_color%>">
	<link rel="stylesheet" href="<%=media%>/css/cascade.css<%# ?v=PKG_VERSION %>">
	<style title="text/css">
        <% if mode == 'normal' then %>
            @media (prefers-color-scheme: dark) {
                <%=dark_css%>
            }
        <% elseif mode == 'dark' then %>
            <%=dark_css%>
        <% end -%>
        <% if fs.access('/etc/config/argon') then %>
        :root {
            --primary: <%=primary%>;
            --dark-primary: <%=dark_primary%>;
            --blur-radius:<%=blur_radius%>px;
            --blur-opacity:<%=blur_opacity%>;
            --blur-radius-dark:<%=blur_radius_dark%>px;
            --blur-opacity-dark:<%=blur_opacity_dark%>;
        }
        <% end -%>
        </style>
	<% if node and node.css then %>
	<link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
	<% end -%>
	<% if css then %>
	<style title="text/css">
		<%=css %>
	</style>
	<% end -%>
	<script src="<%=media%>/js/polyfill.min.js"></script>
	<script src="<%=url('admin/translations', luci.i18n.context.lang)%>?v=<%=ver.luciversion%>"></script>
	<script src="<%=resource%>/cbi.js?v=<%=ver.luciversion%>"></script>
	<script src="<%=resource%>/luci.js?v=<%=ver.luciversion%>"></script>
	<script src="<%=media%>/js/jquery.min.js?v=3.5.1"></script>
</head>

<body
	class="lang_<%=luci.i18n.context.lang%> <% if node then %><%= striptags( node.title ) %><% end %> <% if luci.dispatcher.context.authsession then %>logged-in<% end %>"
	data-page="<%= pcdata(table.concat(disp.context.requestpath, "-")) %>">

	<div class="main">
		<div class="main-left" id="mainmenu" style="display:none">
			<div class="sidenav-header d-flex align-items-center">
				<a class="brand" href="#">
	<svg width="103.868" height="29.117" viewBox="0 0 103.868 29.117" xmlns="http://www.w3.org/2000/svg"><g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000" stroke-width="0.00mm" fill="none">
	<path d="m103,0l-63,0c-2.244,0.252 -3.478,1.624 -3.696,4.128l0,20.847c0.215,2.501 1.447,3.868 3.676,4.129l60,0c2.23,-0.261 3.461,-1.629 3.677,-4.129l0,-20.847c-0.217,-2.504 -1.452,-3.876 -3.694,-4.128" fill="#f7971d"/>
	<path d="m70.945,3.604l0,-3.604l20.162,0l0,3.604l-8.279,0l0,21.603l-3.603,0l0,-21.603l-8.28,0zm-3.955,6.345l0,11.795q0,0.721 -0.272,1.354a3.485,3.485 0 0 1 -0.739,1.098a3.513,3.513 0 0 1 -1.089,0.739a3.313,3.313 0 0 1 -1.3,0.272a3.79,3.79 0 0 1 -0.045,0l-9.299,0a3.343,3.343 0 0 1 -1.336,-0.272a3.485,3.485 0 0 1 -1.098,-0.739q-0.466,-0.466 -0.739,-1.098q-0.272,-0.633 -0.272,-1.354l0,-11.795q0,-0.72 0.272,-1.353a3.485,3.485 0 0 1 0.739,-1.099q0.465,-0.466 1.098,-0.738a3.343,3.343 0 0 1 1.336,-0.273l9.299,0a3.355,3.355 0 0 1 1.187,0.209a3.201,3.201 0 0 1 0.158,0.064q0.624,0.272 1.089,0.738q0.466,0.466 0.739,1.099q0.272,0.633 0.272,1.353zm-25.91,-9.949l3.604,0l0,25.207l-3.604,0l0,-25.207zm22.465,9.949l-9.299,0l0,11.795l9.299,0l0,-11.795z" fill="#fac230"/>
	<path d="m0.193,2.05l4.342,0l6.733,9.439l6.767,-9.439l4.36,0l-8.93,12.498l9.123,12.709l-4.359,0l-6.961,-9.686l-6.909,9.686l-4.359,0l9.123,-12.709l-8.93,-12.498zm26.35,16.787l0,-3.463l8.42,0l0,3.463l-8.42,0z" fill="#4285F4" stroke-width="0.00mm" stroke="#4285F4"/>
	<path d="m48.217,27.257l-3.604,0l-6.047,-18.721l3.498,0l4.43,14.116l4.131,-14.116l3.533,0l4.131,14.116l4.43,-14.116l3.498,0l-6.047,18.721l-3.604,0l-4.183,-13.746l-4.166,13.746zm38.865,-15.258l0,-3.463l4.57,0l0,-5.765l3.463,0l0,5.765l6.153,0l0,3.463l-6.153,0l0,11.795l6.153,0l0,3.463l-6.153,0a3.343,3.343 0 0 1 -1.336,-0.272a3.593,3.593 0 0 1 -1.107,-0.739a3.413,3.413 0 0 1 -0.747,-1.098q-0.273,-0.633 -0.273,-1.354l0,-11.795l-4.57,0zm-6.68,0l-7.136,0l0,15.258l-3.446,0l0,-18.721l3.446,0l0,3.305q0.035,-0.686 0.316,-1.292q0.281,-0.606 0.747,-1.055a3.444,3.444 0 0 1 1.081,-0.703q0.615,-0.255 1.319,-0.255l3.673,0a3.355,3.355 0 0 1 1.188,0.209a3.201,3.201 0 0 1 0.157,0.064q0.624,0.272 1.099,0.738a3.413,3.413 0 0 1 0.747,1.099q0.272,0.633 0.272,1.353l0,3.164l-3.463,0l0,-3.164z" fill="#4285F4" stroke-width="0.05mm" stroke="#4285F4"/>
	</g></svg>
				</a>
				<div class="ml-auto">
					<!-- Sidenav toggler -->
					<div class="sidenav-toggler d-none d-xl-block active" data-action="sidenav-unpin"
						data-target="#sidenav-main">
						<div class="sidenav-toggler-inner">
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-right">
			<header class="bg-primary">
				<div class="fill">
					<div class="container">
						<div class="flex1">
							<a class="showSide"></a>
							<a class="brand" href="#">
	<svg width="103.868" height="29.117" viewBox="0 0 103.868 29.117" xmlns="http://www.w3.org/2000/svg"><g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000" stroke-width="0.00mm" fill="none">
	<path d="m103,0l-63,0c-2.244,0.252 -3.478,1.624 -3.696,4.128l0,20.847c0.215,2.501 1.447,3.868 3.676,4.129l60,0c2.23,-0.261 3.461,-1.629 3.677,-4.129l0,-20.847c-0.217,-2.504 -1.452,-3.876 -3.694,-4.128" fill="#f7971d"/>
	<path d="m70.945,3.604l0,-3.604l20.162,0l0,3.604l-8.279,0l0,21.603l-3.603,0l0,-21.603l-8.28,0zm-3.955,6.345l0,11.795q0,0.721 -0.272,1.354a3.485,3.485 0 0 1 -0.739,1.098a3.513,3.513 0 0 1 -1.089,0.739a3.313,3.313 0 0 1 -1.3,0.272a3.79,3.79 0 0 1 -0.045,0l-9.299,0a3.343,3.343 0 0 1 -1.336,-0.272a3.485,3.485 0 0 1 -1.098,-0.739q-0.466,-0.466 -0.739,-1.098q-0.272,-0.633 -0.272,-1.354l0,-11.795q0,-0.72 0.272,-1.353a3.485,3.485 0 0 1 0.739,-1.099q0.465,-0.466 1.098,-0.738a3.343,3.343 0 0 1 1.336,-0.273l9.299,0a3.355,3.355 0 0 1 1.187,0.209a3.201,3.201 0 0 1 0.158,0.064q0.624,0.272 1.089,0.738q0.466,0.466 0.739,1.099q0.272,0.633 0.272,1.353zm-25.91,-9.949l3.604,0l0,25.207l-3.604,0l0,-25.207zm22.465,9.949l-9.299,0l0,11.795l9.299,0l0,-11.795z" fill="#fac230"/>
	<path d="m0.193,2.05l4.342,0l6.733,9.439l6.767,-9.439l4.36,0l-8.93,12.498l9.123,12.709l-4.359,0l-6.961,-9.686l-6.909,9.686l-4.359,0l9.123,-12.709l-8.93,-12.498zm26.35,16.787l0,-3.463l8.42,0l0,3.463l-8.42,0z" fill="white" stroke-width="0.00mm" stroke="#000"/>
	<path d="m48.217,27.257l-3.604,0l-6.047,-18.721l3.498,0l4.43,14.116l4.131,-14.116l3.533,0l4.131,14.116l4.43,-14.116l3.498,0l-6.047,18.721l-3.604,0l-4.183,-13.746l-4.166,13.746zm38.865,-15.258l0,-3.463l4.57,0l0,-5.765l3.463,0l0,5.765l6.153,0l0,3.463l-6.153,0l0,11.795l6.153,0l0,3.463l-6.153,0a3.343,3.343 0 0 1 -1.336,-0.272a3.593,3.593 0 0 1 -1.107,-0.739a3.413,3.413 0 0 1 -0.747,-1.098q-0.273,-0.633 -0.273,-1.354l0,-11.795l-4.57,0zm-6.68,0l-7.136,0l0,15.258l-3.446,0l0,-18.721l3.446,0l0,3.305q0.035,-0.686 0.316,-1.292q0.281,-0.606 0.747,-1.055a3.444,3.444 0 0 1 1.081,-0.703q0.615,-0.255 1.319,-0.255l3.673,0a3.355,3.355 0 0 1 1.188,0.209a3.201,3.201 0 0 1 0.157,0.064q0.624,0.272 1.099,0.738a3.413,3.413 0 0 1 0.747,1.099q0.272,0.633 0.272,1.353l0,3.164l-3.463,0l0,-3.164z" fill="black" stroke-width="0.05mm" stroke="#000"/>
	</g></svg>
							</a>
						</div>
						<div class="status" id="indicators"></div>
					</div>
				</div>
			</header>
			<div class="darkMask"></div>
			<div id="maincontent">
				<div class="container">
					<%- if luci.sys.process.info("uid") == 0 and luci.sys.user.getuser("admin") and not luci.sys.user.getpasswd("admin") then -%>
					<div class="alert-message error">
						<h4><%:No password set!%></h4>
						<p><%:There is no password set on this router. Please configure a admin password to protect the web interface.%>
						</p>
						<% if disp.lookup("admin/system/admin") then %>
						<div class="right"><a class="btn"
								href="<%=url("admin/system/admin")%>"><%:Go to password configuration...%></a></div>
						<% end %>
					</div>
					<%- end -%>

					<noscript>
						<div class="alert-message error">
							<h4><%:JavaScript required!%></h4>
							<p><%:You must enable JavaScript in your browser or LuCI will not work properly.%></p>
						</div>
					</noscript>

					<div id="tabmenu" style="display:none"></div>
