config natcapd 'default'
	option enabled '0'
	option _built_in_server '119.29.195.202'
	option enable_encryption '1'
	option clear_dst_on_reload '0'
	option server_persist_timeout '6'
	option debug '3'
	option encode_mode '0'
	option udp_encode_mode '0'
	option pptpd '0'
	list udproxylist '8.8.8.8'
	list udproxylist '8.8.4.4'
	list gfwlist '8.8.8.8'
	list gfwlist '8.8.4.4'
	option full_cone_nat '0'
	option access_to_cn '0'
	option full_proxy '0'
	option enable_offload '0'
	option touch_timeout '32'
